* {
    box-sizing: border-box;
}


body{
    background-color: rgb(162, 226, 255);
    position: relative;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    padding: 5px;   
    background-color: rgb(5, 122, 126);
}


header nav {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.work img:hover {
    box-shadow: 0 0 40px 1px rgb(99, 0, 180);
    opacity: 1;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    transition: .5s ease;
}

.overlay2:hover{
    visibility: visible;
}

.contact-me a:hover {
    box-shadow: 0 0 10px 1px rgb(212, 145, 0);
    transition: all 0.25s ease;
}


.overlay2 {
    position: relative;    
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    visibility: visible;
    width: 100%;
    transition: .5s ease;
    color: rgb(160, 255, 242);
    font-size: 20px;
    padding: 20px;
  }



.intro {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


main {
    /* background-color: rgb(21, 148, 99); */
    padding: 4px;
    margin-top: 10px;
    /* border: 5px solid rgb(5, 122, 126); */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 5px solid rgb(5, 122, 126);
}


main article {
    display: flex;
    justify-content: space-evenly;
}


main h2 {
    text-align: right;
    border-right: 8px solid rgb(126, 126, 0);
    padding-right: 5px;
    color: rgb(0, 49, 49);
}


main img {
    border-radius: 25px;
    border: 8px solid rgb(5, 122, 126);
}


main p {
    padding-bottom: 15px;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(5, 122, 126);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 75px;
    border-radius: 16px;
}


main a {
    display: flex;
    justify-content: center;
}


h1 {
    align-self: flex-start;
    font-size: 300%;
    color: seashell;
    text-align: left;
}


h2 {
    text-decoration: none;
    margin-top: 50px;
    margin-left: 100px;
    color: rgb(0, 0, 0);
    font-size: 500%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.work {
    display: flex;
    padding: 10px;
    border-bottom: 5px solid rgb(5, 122, 126);
    background-color: rgb(231, 255, 242);
}


.work h2 {
    display: flex;
    text-align: right;
    margin-right: 7px;
    margin-left: 120px;
    padding-right: 5px;
    border-right: 8px solid rgb(126, 126, 0);
    color: rgb(0, 49, 49);
}


.work img {
    border-radius: 25px;
    margin-top: 35px;
    border: 5px solid rgb(255, 255, 255);
    margin-left: 20px;
}


.work article div {
    display: flex;
    flex-wrap: wrap;
    margin-top: -25px;
}


.contact-me {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    border-bottom: 5px solid rgb(5, 122, 126);
}


.contact-me h2 {
    word-wrap: break-word;
    display: flex;
    text-align: right;
    margin-right: 7px;
    margin-left: 25px;
    padding-right: 5px;
    border-right: 8px solid rgb(126, 126, 0);
    color: rgb(0, 49, 49);
}


.contact-me div {
    display: flex;
    flex-direction: column;
}


.contact-me article {
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    margin: 10px;
}


footer {
    text-align: center;
    /* background-color: rgb(231, 255, 242); */
}


hero {
    display: flex;
    justify-content: flex-end;
}


/* TODO: Use media query to change the width of the cards so they split into two columns at 992px or smaller*/
@media screen and (max-width: 992px) {
    main {
      display: flex;
      flex-wrap: wrap;
    }
    .card {
      width: 50%;
    }
  }
  /* TODO: Use media query to change the width of the cards so they are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }